html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 0.2fr 0.8fr;
}

.sidebar {
    grid-column-start: 1;
    grid-row-start: span 2;
    background-color: #1992D4;
    display:grid;
    grid-template-rows: 0.1fr 0.5fr 0.4fr;
    grid-template-columns: 1fr;
    gap:5%;
    padding-left: 5%;
    padding-top: 5%;
}

.items {
    display:grid;
    grid-template-rows: 1fr 1fr;
    height:100%;
    gap:10%;
    padding-left:4%;
}

.branding {
    display:grid;
    gap:5%;
    grid-template-columns: 0.2fr 1fr;
    align-items:center;
}

.branding svg {
    width:100%;
    height:auto;
    fill: white;
}

.branding h1 {
    color:white;
    font-size:100%;
    font-weight:600;
}

.sidebar ul {
    color: white;
}

.sidebar ul svg {
    fill:white;
    width:100%;
    height:auto;
}

.sidebar ul li {
    display:grid;
    align-items:center;
    grid-template-columns: 0.1fr 1fr;
    gap:10%;
    font-size:100%;
    cursor:pointer;
    margin-bottom:7%;
    font-weight:500;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.sidebar ul li:hover {
    font-weight:700;
}

.header {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: white;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top:1%;
    padding-bottom:2%;
}

.header .search {
    display:grid;
    grid-template-columns: 0.05fr 1fr;
    align-items:center;
    padding-left:5%;
}

.header .search svg {
    fill:black;
    width:60%;
    height:auto;
}

.header .search input {
    width:75%;
    border-radius:10px;
    outline:none;
    border:1px solid #E2E8F0;
    background-color: #E2E8F0;
    padding:5px;
}

.header .user {
    display:grid;
    grid-template-columns: 0.2fr 0.2fr 1fr;
    align-items:center;
    gap:10%;
    justify-content:end;
    padding-right:5%;
    justify-self:end;
}

.header .user svg {
    fill:black;
    width:50%;
    height:auto;
    justify-self:end;
}

.header .user .user-pic {
    width:75%;
    height:auto;
    aspect-ratio:1/1;
    border-radius:50%;
    background-color:#E2E8F0;
    justify-self:end;
}

.header .user h2 {
    font-size:100%;
    font-weight:500;
    justify-self:start;
}

.topbar {
    grid-column-start: span 1;
    grid-row-start: span 1;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.bottombar {
    grid-column-start: span 1;
    grid-row-start: 2;
    display:grid;
    grid-template-columns: 1fr 5fr 0.75fr 0.75fr 0.75fr;
    grid-template-rows: 1fr;
}

.bottombar .user-pic {
    width:40%;
    height:auto;
    aspect-ratio:1/1;
    border-radius:50%;
    background-color:#E2E8F0;
    justify-self:end;
    align-self:center;
    margin-right:10%;
}

.bottombar .user-details {
    align-self:center;    
    justify-self:start;
}

.bottombar .user-details p {
    font-size:100%;
    font-weight:500;
}

.bottombar .user-details h1 {
    font-size:150%;
    font-weight:700;
}

.bottombar button {
    background-color:#1992D4;
    color:white;
    border:none;
    border-radius:50px;
    font-size:100%;
    font-weight:500;
    cursor:pointer;
    width:80%;
    height:50%;
    align-self:center;
    justify-self:start;
}

.content {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #E2E8F0;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}
