html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 0.2fr 0.8fr;
}

.header {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: WHITE;
}

.sidebar {
    grid-column-start: 1;
    grid-row-start: span 2;
    background-color: #1992D4;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:5%;
    padding-left: 5%;
    padding-top: 5%;
}

.items {
    display:flex;
    flex-direction:column;
    height:100%;
    gap:10%;
    padding-left:4%;
}

.content {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #E2E8F0;
}

.branding {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:5%;
}

.branding svg {
    width:15%;
    height:auto;
    fill: white;
}

.branding h1 {
    color:white;
    font-size:1.2rem;
    font-weight:600;
}

.sidebar ul {
    color: white;
}

.sidebar ul svg {
    fill:white;
    width:7%;
    height:auto;
}

.sidebar ul li {
    display:flex;
    align-items:center;
    gap:20px;
    font-size:1rem;
    cursor:pointer;
    margin-bottom:20px;
    font-weight:500;
}

.topbar {
    display:flex;
    justify-content: space-around;
}

.header svg {
    width:2%;
    height:auto;
    fill: black;
}